html,
body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media screen and (max-width: 1400px) {
  body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width:1400px;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
.NavMenu a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.BarreMenu{
background-color: #3c1d79;
}

.BarreMenu :hover{
  color: #f77300;
}

.ListBarreMenu :hover{
  color: #f77300;
}
.InfoComiteDirecteur{
  background-color: aliceblue;
  border-radius: 20%;
}

.containerComite{
  background-color: #3c1d79;
  max-width: 1000px;
  margin-left: 350px;
}

.carteComplexe{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenuComplexe{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.PartieGauche{
  border-right: #f77300;
  border-style: solid;
  max-width: 50%;
}

.css-yfo96e{
  padding: 0 0 0 0;
}
/* Pré Home */ 
.btn {
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #3c1d79;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border: 4px solid #FFFFFF;
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  }
  .sousMenuQui{
    padding-left: 30px;
  }
  
  .btn:hover {
  padding: 10px;
  background-color: #f77300;
  box-shadow: 1px 1px 4px #777777;
  -webkit-box-shadow: 1px 1px 4px #777777;
  -moz-box-shadow: 1px 1px 4px #777777;
  }
/* Home Page */
.pageHome{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
}
.topBanner{
 max-height: 500px;
 width: 100%;
}
a.dropdown-item:hover{
  background-color: #f77300;
}
a.dropdown-item:focus{
  background-color: transparent;
}
.contenuHome{
  display: flex;
  flex-direction: row;
}
.messageHome{
  text-align: center;
  font-size: 40px;
  color:white;
  background-color: #f77300;
  box-shadow: 5px 5px 10px 1px #3c1d79; 
  margin-bottom: 20px;
}
.carousel{
  background-color: #f77300;
}
.gridHome{
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.imgCardHome{
  width : 550px;
  height: 500px;
  border: solid;
  border-color: #f77300;
}
.messageHome{
  text-align: center;
  font-size: 40px;
  color:white;
}

.textCard{
  text-align: center;
  width: 100%;
  color: black;
  background-color: white;
  box-shadow: 5px 5px 10px 3px #f77300; 
}
.textCard :hover{
  color: #f77300;
}
.carouselHome{
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 200px;
  align-items: center;
}

.divMessageDeroulant{
  font-size: 40px;
  color:white;
  background-color: #f77300;
  box-shadow: 5px 5px 10px 1px #3c1d79;
  width: 150rem;
  display: flex;
  margin-bottom: 20px;
}

.spanMessageHome{
  animation: scrollTxt 3s linear infinite;
  width: 1000px;
}
@keyframes scrollTxt {
  0%{
    transform: translate(-100%,0);
  }
  100%{
    transform: translate(0%,0);
  }
}
.imgCard{
  height:400px;
}

/* Page Historique */

.boxHistoriquePage{
  border: #3c1d79;
  box-shadow: 5px 5px 10px 1px #3c1d79;
  border: solid;
  margin-bottom: 100px;
  margin-top: 100px;
}

/* Page Comite */
.gridComite{
  margin-top: 100px;
  padding-left: 264px;
  padding-right: 264px;
}
.BoxComite{
  border: #3c1d79;
  box-shadow: 5px 5px 10px 1px #3c1d79;
  border: solid;
}

/* Page Complexe */
.ImagesComplexe{
  height: 100px;
  width: 400px;
  padding-left: 50px;
}

/* Page Sponsors */
.btnDownload {
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #3c1d79;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border: 4px solid #FFFFFF;
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  }
  
  
  .btnDownload:hover {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #f77300;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 12px #444444;
    -webkit-box-shadow: 3px 3px 12px #444444;
    -moz-box-shadow: 3px 3px 12px #444444;
  }

  /* Page info sponsors */
  .imagesSponsorInfo{
   height: 50px;
  }
  .boxOrange{
    border: #3c1d79;
    box-shadow: 5px 5px 10px 1px #f77300;
    border: solid;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  