body{
  margin: 0;
  background-color: #e8e8e8;
}
a:link
{
 text-decoration:none;
}
#__next{
  background-color: #fff;
}

.logo{
  display: none;
}
.logo.fixed{
  display: block;
}
#badge{
  width: 250px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 20px;
  color:white;
  background-color: #dc8d32;
}
#colBox{
  align-self: center;
}
/* HEADER */
.Header ul{
  z-index: 2;
  list-style:none;
  display: flex;
  padding-top: 10px;
  padding-right: 30px;
  flex-direction: row;
  margin-bottom: 0px;
  height: 50px;
  justify-content: flex-end;
  background: linear-gradient(to bottom right, #3d1e7b, orange);
}

.Header ul li{
  margin-left: 5px;
}
.navbar img{
  height: 150px;
}

/* NavBar */

.navbar a{
  margin-left: 100px;
  color:white;
  z-index: 2;
}

#basic-nav-dropdown{
  color:white;
}
#basic-nav-dropdown-black{
  color:black;
}

#linkDropdown{
  color: black;
  margin-left: 0;
}
.dropdown-menu.show {
  margin-left: 100px;
}
#basic-navbar-nav #nav{
  justify-content: center;
}
#basic-navbar-nav{
  justify-content: center;
}
.NavBar{
  background-color: transparent;
  height: 50px;
  width: 100%;
  z-index: 2;
}

#badge{
  cursor:default;
  box-shadow: none;
}
.NavBar.fixed{
  width: 100%;
  height: 50px;
  top:0;
  background: linear-gradient(to bottom right, #3d1e7b, orange);
  position: fixed;
z-index: 3;
}
.footer{
  background: linear-gradient(to bottom right, #3d1e7b, orange);
  color: #fff;
  position:static;
  width: 100%;
  bottom: 0;
}
.sectionBandeau{
  height: 700px;
  border:solid #3d1e7b;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-left: 20px;
  margin-right: 20px;
}
.bandeauBottom{
  background-color: #3d1e7b;
  bottom:0;
  position: absolute;
  height: 50px;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  opacity:0;
  cursor:pointer;
}
.bandeau{
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  cursor:pointer;
}
/* Bandeau */
.slide{
  height: 700px;
  position: absolute;
  opacity: 0;
  text-align: center;
}
.slide > img {
  height: 700px;
  display: block;
  width: 100%;
  object-position: center;
  text-align: center;
}
.slideTest{
  opacity: 1;
  text-align: center;
}
.titleBandeau{
  font-size: 30px;
  margin-left: 20px;
}
.bandeauBottomActive{
  display: flex;
  background-color: #3d1e7b;
  bottom:0;
  position: absolute;
  height: 50px;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  opacity:1;
  cursor:pointer;
  z-index:2;
}
.buttonSlide{
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  cursor:pointer;
}
.slideTest > img{
 height: 650px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-position: center;
}

.bandeau > ul {
  height: 700px;
  margin:0;
  padding:0;
  list-style:none;
}
.bandeau-button{
  position: absolute;
  background: none;
  height: 100%;
  border: none;
  font-size: 7rem;
  top: 50%;
  width: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.bandeau-button:hover,.bandeau-button:focus {
  color: white;
  background-color: #3d1e7b;
}

.bandeau-button.prev {
  border-radius: 20px 0 0 20px;
  left: 0;
}

.bandeau-button.next {
  border-radius: 0 20px 20px 0;
  right: 0;
}

.thumbs-wrapper{
  display: none;
}

@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}
#buttonSlide:hover{
  background:#dc8d32;
  text-decoration: none;
  color:white;
}
#buttonSlide a:link{
  text-decoration: none;
  color:white
}
.BoxInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.BoxInfo h1{
  margin-top: 45px;
  width: 100%;
  height: 200px;
  border:solid #3d1e7b;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-bottom: 50px;
  border-radius: 20px;
  text-align: center;
  color: #3d1e7b;
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.BoxInfo h1:hover{
  background-color: #dc8d32;
  color:white;
  cursor: pointer;
}
.containerActu{
  padding:40px;
  margin-top:30px;
  text-align:center;
}
#rowActu{
  margin-top:30px;
  margin-left:20px;
}
/* divHoraire */
#colHomeCentre{
padding-top: 20px;
}
.divHoraires{
  display: flex;
  flex-direction: column;
  border:solid #3d1e7b;
  background-color: #fff;
  box-shadow: 5px 5px 5px #3d1e7b;
  padding: 40px;
  margin-top: 30px;
  border-radius: 20px;
}

.divActualite{
  flex-direction: column;
  border:solid #3d1e7b;
  background-color: #fff;
  box-shadow: 5px 5px 5px #3d1e7b;
  padding: 40px;
  height: 202px;
  border-radius: 20px;
}
.divActualite:hover{
  background-color: #3d1e7b;
  color:white;
}
.divFfbb{
  flex-direction: column;
  border:solid #3d1e7b;
  height: 925px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #3d1e7b;
  padding: 40px;
  margin-top: 30px;
  border-radius: 20px;
}
.divEquipe{
  flex-direction: column;
  border:solid #3d1e7b;
  background-color: #fff;
  box-shadow: 5px 5px 5px #3d1e7b;
  padding: 40px;
  height: 550px;
  margin-top: 30px;
  border-radius: 20px;
}
.divSponsors{
  flex-direction: column;
  border:solid #3d1e7b;
  background-color: #fff;
  box-shadow: 5px 5px 5px #3d1e7b;
  padding: 40px;
  height: 202px;
  border-radius: 20px;
}
.contentFfbb{
  height:700px;
  overflow-y:scroll;
}
.cardFfbb {
  height: 300px;
  margin-bottom: 10px;
}
.cardHeaderFfbb:hover{
  background-color: #3d1e7b ;
  color:#fff;
}
.cardHeaderFfbb{
  color: black ;
}
.cardFfbb img{
  height: 150px;
  width: 250px;
}
.descriptionFfbb {
  margin-top: 10px;
  font-size: 10px;
}
.divSponsors:hover{
 background-color: #3d1e7b;
 color:white;
}
.divHoraires img{
  transition: transform .1s;
}
.divHoraires img:hover{
  -ms-transform: scale(1.6); /* IE 9 */
  -webkit-transform: scale(1.6); /* Safari 3-8 */
  transform: scale(1.6);
}

/* page historique */
.boxHistoriquePage{
  border:solid #3d1e7b;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-top: 70px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
}

.boxActuDetail{
  border:solid #3d1e7b;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-top: 80px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
}

/* page comite */
.BoxComite{
  border:solid #3d1e7b;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-top: 60px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
}

/* page complexe sportif */
.boxComplexeImage{
  border:solid #3d1e7b;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-top: 60px;
  border-radius: 20px;
  padding: 40px;
  background-color: #fff;
}
.divImageComplexe{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgComplexeBox{
  width: 400px;
}
/* page mecenat */
.boxMecenat{
  border:solid #3d1e7b;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-top: 60px;
  border-radius: 20px;
  padding: 40px;
  background-color: #fff;
}
/* page info */
.boxPartenaires{
  border:solid #3d1e7b;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-top: 60px;
  border-radius: 20px;
  padding: 40px;
  background-color: #fff;
}
.boxPartenaires h1{
  color: #3d1e7b;
  text-align: center;
  margin-bottom: 20px;
}
.containerImgPartenaires{
  text-align: center;
  margin-top: 30px;
}

/* page formation */
.boxFormation{
  border:solid #3d1e7b;
  box-shadow: 5px 5px 5px #3d1e7b;
  margin-top: 60px;
  border-radius: 20px;
  padding: 40px;
  background-color: #fff;
}
.divRegleBasket{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
/* page Actu */
#imgActu{
  text-align: center;
}
#imgActu img{
  height:  200px;
  margin-left: 10px;
  transition: transform .1s;
}
#imgActu img:hover{
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}

#ulEquipe{
  list-style:none;
  text-align:justify;
}
 /* media */
#buttonToggle{
 position: fixed;
 z-index: 3;
 top:0;
 background-color: #fff;
 margin: 4px;
}

 @media screen and (max-width: 1024px) {
  .navbar>.container{
    padding-left: 80px;

    }
    .divFfbb{
      height:1390px ;
    }
    .iframeFFBB{
      height: 900px;
    }
    .divHoraires{
      height: 950px;
    }
    .contentFfbb{
      height: 1200px;
    }
    .divEquipe{
      height: 600px;
    }
    .navbar a{
      margin-left: 50px;
    }
    #colHomeCentre{
      padding-top:200px;
     }
     .carousel .slide .title{
      bottom: 90px;
      height: 80px;
      left: 50%;
      margin-left: -45%;
      width: 50%;
      padding: 10px;
      font-size: 40px;
      text-align: left;
    }
     #badge{
    width: 200px;
    height: 43px;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 20px;
    color:white;
    background-color: #dc8d32;
  }
}
@media screen and (max-width: 768px) {
  .Bandeau{
    display: none;
  }
  #colHomeCentre #badge{
    margin-left: -60px;
  }

  #colHomeCentre{
    padding-left: 0;
    padding-right: 0;
  }
  .divFfbb{
    height:1080px ;
  }
  .iframeFFBB{
    height: 900px;
  }
  .divHoraires{
    height: 550px;
  }
  .divEquipe{
    height: 400px;
  }
  #imgActu img{
    height:  180px;
    margin-left: 20px;
    transition: transform .1s;
  }
  .divHoraires img:hover {
    transform: scale(1);
  }

}
@media screen and (max-width: 990px) {
  #badge{
    width: 200px;
    height: 43px;
    margin-left: -30px;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 20px;
    color:white;
    background-color: #dc8d32;
  }
  .NavBar.fixed{
    height: 400px;
  }

  .Bandeau{
    display: none;
  }
  .NavBar{
    background: linear-gradient(to bottom right, #3d1e7b, orange);
    height: 350px;
    width: 100%;
    z-index: 2;
    position: fixed;
    font-size: 18px;
  }
  .dropdown-menu.show{
    margin-left: 50px;
    width: 150px;
    color:white;
  }

  .NavBar img{
    display: none;
  }
  .divHoraires{
    height: 700px;
  }
  .divEquipe{
    height: 650px;
  }
  .contentFfbb{
    height: 900px;
  }
  .cardFfbb img{
    width: 180px;
    height: 100px;
  }
}
@media screen and (max-width: 425px) {
  .Bandeau{
    display: none;
  }
  .divEquipe{
    font-size: 20px;
    height: 600px;
  }
  #colHomeCentre #badge{
    margin-left: 0px;
  }
  .divHoraires #badge{
    margin-left: 60px;
  }
  #colHomeCentre{
    padding-top: 0px;
  }
  .divRegleBasket{
    display:flex;
    flex-direction:column;
  }
  .videoRegleBasket{
    height: 150px;
    width: 200px;
  }
  .imgComplexeBox{
    width: 300px;
  }
  .imgGoogleMap{
    width: 300px;
  }
  #rowActu{
    width: 90%;
  }
  #imgActu img{
    height:  120px;
    margin-left: 2px;
    transition: transform .1s;
  }
  #colHomeCentre{
    padding-left: 0;
    padding-right: 0;
  }
  #badge{
    width: 200px;
    height: 43px;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 20px;
    color:white;
    background-color: #dc8d32;
  }
  .NavBar{
    background: linear-gradient(to bottom right, #3d1e7b, orange);
    height: 400px;
    width: 100%;
    z-index: 2;
  }
  .NavBar a{
    margin-right: 0;
  }
  .NavBar img{
    display: none;
  }
  .divHoraires{
    height: 1400px;
  }
  .contentFfbb{
    height: 900px;
  }
}
@media screen and (max-width: 375px) {
  .Bandeau{
    display: none;
  }
  .imgBoxPartenaires{
    height:100px;
    width:200px;
  }
  .divActualite #badge{
    margin-left: 10px;
  }
  .imgComplexeBox{
    width: 200px;
  }
  .imgGoogleMap{
    width: 200px;
  }
  .NavBar{
    background: linear-gradient(to bottom right, #3d1e7b, orange);
    height: 400px;
    width: 100%;
    z-index: 2;
  }
  .NavBar a{
    margin-right: 0;
  }
  .NavBar img{
    display: none;
  }
    #colHomeCentre{
    padding-left: 0;
    padding-right: 0;
  }
  #badge{
    width: 150px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 20px;
    color:white;
    background-color: #dc8d32;
  }
  .divHoraires{
    height: 1200px;
  }
  .divEquipe{
    height: 600px;
  }
  .contentFfbb{
    height: 900px;
  }
}

@media screen and (max-width: 320px) {
  .divHoraires #badge{
    margin-left: 30px;
  }

  .divHoraires{
    height: 950px;
  }
  #colHomeCentre{
    padding-left: 0;
    padding-right: 0;
  }
  .cardFfbb img{
    width: 180px;
    height: 100px;
  }
  .contentFfbb{
    height: 900px;
  }
  .divEquipe{
    font-size: 14px;
    height: 500px;
  }
}
